h2,h3,ul{
    text-align: center;
   color: white;
    /* font-family: 'Jersey 10';font-size: 22px;font-family: 'Jersey 10';font-size: 22px; */
}

li{
font-size:large;
color: white;
}

.titulo{
    font-family: 'Jersey 10';font-size: 22px;font-family: 'Jersey 10';font-size: 52px;
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
    }

    .titulo2{
        font-family: 'Jersey 10';font-size: 22px;font-family: 'Jersey 10';font-size: 42px;
        color: white;
        background-color: rgba(255, 255, 255, 0.5);
        }

        .eventos{

            background-image: url('/images/fondo.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            }


            button {
                font-size: 1rem;
                padding: 0.8em 2em;
                background-color: #000;
                border: 3px solid yellow;
                border-radius: 1em;
                color: #fff;
                font-weight: bolder;
                transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.4s;
                box-shadow: -5px 5px 0px 0px yellow;
              }
              
              button:hover {
                transform: translate(5px, -5px);
              }

              img:hover {
                transform: translate(5px, -5px);
              }