@font-face {
  font-family: valorant;
  src: url(/fonts/Valorant\ Font.ttf);
}
.maps img {
  display: block;
  border-radius: 100%;
  height: 300px;
  width: 300px;
  margin: auto;
  align-self: center;
  transition-duration: 0.5s;
}
.maps p{
  font-family: sans-serif;
  font-size: 20px; /* Adjust font size as needed */
  line-height: 1.5; /* Adjust line height for better readability */
  color: #fff; /* Text color */
  margin-bottom: 100px; /* Add some space below each paragraph */
  padding: 15px; /* Add padding to create space around the text */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.55);
  width: 600px;
  margin-left: 50px;
}


.maps h3{
  font-size: 50px;
  color: #fa4454;
  font-family: valorant;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 20px;
  width: auto;
  height: 60px;
  text-align: center;
  display: inline-block;
  border-radius: 7px;
  margin-left: 50px;
}

/*.maps img:hover{
  border-radius: 15%;
  height: 400px;
  width: 600px;
  transition-duration: 0.5s;
}*/

.maps h1{
  font-size: 80px;
  margin-bottom: 100px;
  margin-top: 50px;
  text-align: center;
  color: #fa4454;
  font-family: valorant;
}

/*.maps p:hover{
  border-radius: 0%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition-duration: 0.3s;
}*/

body{
  /*background-color: #292828;*/
  background-image: url(/images/1282618.jpg);
}

#splashImages {
  column-count: 2;
  height: auto;
}